
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Segoe UI",Arial,sans-serif;
    background-color:#e6ecf0;
}

#menu-nav{
    //width:100%;
    height:50px;
    border-top:1px solid #acb1b4;
    border-bottom:1px solid #acb1b4;
    background-color:#fff;
}

nav{
    width:90%;
    display:inline-block;
    position:absolute;
    left:5%;
    padding:7px;
}

nav>ul{
    display:inline-block;
}
nav>ul>a{
    text-decoration:none;
    color: #66757f;
    font-weight:bold;
}

.nav-icono-twiter::after{
    content: "\f099";
    font-family: FontAwesome;
    color: #1da1f2;
    font-size: 20px;
}

.nav-start::before{
    content: "\f005";
    font-family: FontAwesome;
}

.nav-notifications:before{
    content: "\f008";
    font-family: FontAwesome;
}

.nav-messages::before{
    content:"\f0e0";
    font-family: FontAwesome;
}

.nav-input{
    width:200px;
    height:30px;
    background-color:#f5f8fa;
    border:1px solid #e6ecf0;
    border-radius:20px;
}
.nav-photo-user::after{
    content: "\f2bd";
    font-family: FontAwesome;
}

.nav-button{   
    text-align: center;
    background-color: #4ab3f4;
    border-radius:20px;
    color: #fff;
    width:80px;
    padding:8px 10px;
}

nav ul:first-child a{
   padding-left:20px;
}

nav ul:last-child{
    float:right;  
}

nav ul:first-child a:last-child{
   position:absolute;
   left:50%;
   top:25%;
}

/********************section main**************/
#boxTwiter>section{
    display:inline-block;
    float:left;
    margin:10px;
}

#boxTwiter{
    max-width:100%;
    position:absolute;
    left:50%;
    margin-left:-630px;  
}

/**************************section left********************/
.boxTwiter-left{
    width:300px;
    height:250px;
    background-color:#1da1f2;
    position:relative;
}

.boxTwiter-left-profile{
    width:300px;
    background-color:#fff;
    position:absolute;
    top:50%;
}

.boxTwiter-left-profile-logo{
    display:inline-block;
    border:3px solid #fff;
    border-radius:50%;
    background-color:#1da1f2;
    width:80px;
    height:80px;
    position:absolute;
    bottom:70px;
    left:10px;
}

.boxTwiter-left-profile-logo::before{
    content: "\f083";
    font-family: FontAwesome;
    font-size:30px;
    color:#fff;
    position:absolute;
    top: 23px;
    left:23px;
}

.boxTwiter-left-profile-info{
    float:right;
    width:200px;
    height:50px;
}

.boxTwiter-left-profile-info span:first-child{
    font-weight:bold;
    padding:10px;
}

.boxTwiter-left-profile-count-tweet{
    clear:both;
    width:300px;
    height:80px;
    padding:10px;
}

.boxTwiter-left-profile-count-tweet span:first-child{
    color:#6577a4;
    font-size:12px;
}

/*********section center***************/
#boxtwitter-center-content{
    height:auto;
}

.boxtwitter-center{
    width: 600px;
    background-color:#e8f5fd;
    //text-align: center;
    padding-top: 10px;
    position:relative;
 
}

.icono-boxtwitter{
    display:inline-block;
    
}

.icono-boxtwitter::before{
    content: "\f2bd";
    font-family: FontAwesome;
    color:black;
    font-size:30px;
    position:absolute;
    top:15px;
    left:25px;
    opacity:0.2;
}

#input-boxtwitter{
    border:1px solid #c6e7fb;
    background-color:#fff;
    border-radius:10px;
    font-size:15px;
    width:500px;
    margin-left:30px;
    font-family: inherit;
    margin-left:60px;
    overflow:hidden;

    
   
}

:-ms-input-placeholder { color: #1da1f2;}
::-webkit-input-placeholder { color: #1da1f2;} 
::-moz-placeholder { color: #1da1f2;}

/**************************section left********************/
.boxTwiter-right{
    width:300px;
    height:300px;
    outline:1px solid black;
}

/******estilo botón del input***/

.styleButton{
    width:90px;
    background-color:#4ab3f4;
    color:#fff;
    border:0;
    border-radius:10px;
    font-size:15px;
    font-weight: bold;
    padding:5px;
    
}

/*******estilo a characters******/

.styleCharacters{
   display:inline-block;
   float:right;
   color:blue;
   font-weight:bold; 
}
/************caja para mostrar los tweets*/
.styleShowTweet{
    width:100%; 
    background-color:#fff;
    height: auto;
    font-size:15px;
    font-family: inherit;
    padding:5px;
    border:none;
    overflow:hidden;
}

.contendTime{
    display:inline-block;
    width:580px;
    outline:1px solid black;
    color:black;
}

.boxTwiter-right{
    background: pink;
}
